@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

body {
  font-family: 'Open Sans' !important;
}

.form-control,
.btn {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.loading-md {
  width: 25px;
  height: 25px;
  display: none;
}

.loading-sm {
  width: 15px;
  height: 15px;
  display: none;
}

.cursor {
  cursor: pointer;
}

.rounded-top-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rounded-bottom-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

table {
  tr th {
    text-align: center;
  }

  tr td {
    text-align: center;
  }
}
