.email-text {
  color: white;

  &:hover {
    color: rgb(200, 215, 255);
  }
}

@media screen and (max-width: 991px) {
  .what-we-do {
    margin-top: 15px;
  }

  .product-image {
    margin-bottom: 25px;
  }
}

.input-group-text {
  width: 2.5rem;
}

@media screen and (max-width: 576px){
  .product-border{
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 10px;
  }
}